// Utility Classes
.titleCase {
  text-transform: tit;
}
// Body classes
#a1 {
  position: absolute;
  top: 0;
  opacity: 0.2;
  pointer-events: none;
}
html {
  font-size: 100%;
}
.header {
  font-size: 0.78rem;
}
#tools {
  padding-top: 25px;
  padding-bottom: 17px;
  * {
    display: inline;
  }
  img {
    width: 10px;
    height: auto;
    padding-right: 0.25em;
    display: inline-block;
  }
  #invertSelection {
    padding-left: 19px;
    padding-right: 17px;
  }
  #count {
    padding-right: 37px;
  }
}
